body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color : white;
}

table {
    padding: 20px;
}

table,
form {
    border: 1px solid;
}

form {
    padding: 10px 30px 20px 00px;
}

th,
td,
tr {
    padding: 10px;
}

td,
thead {
    border: 1px solid;
    text-align: center;
}

.form-group {
    display: inline-grid;
    padding-left: 50px;
}

.table {
    display: flex;
}

input {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1rem;
    border: 1px solid;
    padding:0.5rem;
}

button {
    font-family: 'Courier New', Courier, monospace;
    color : white;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(122, 6, 25);
    border-radius: 1rem;
    border: 1px dotted red;
    cursor: pointer;
}

table{
    display : block;
}

button:hover{
    background-color: rgb(213, 236, 0);
    color : black;
    transition: 0.2s ease-in;
}

.live{
    background-color: rgb(0, 129, 0);
    color : white
}
.die{
    background-color: rgb(195, 0, 0);
    color : white
}

tr:hover{
    background-color: rgb(133, 203, 250);
}