body,
* {
    font-family: 'Courier New', Courier, monospace;
}

table {
    padding: 20px;
}

table,
form {
    border: 1px solid;
}

form {
    padding: 10px 30px 20px 00px;
}

th,
td,
tr {
    padding: 10px;
}

td,
thead {
    border: 1px solid;
}

.form-group {
    display: inline-grid;
    padding-left: 50px;
}

.table {
    display: flex;
}

input {
    border-radius: 1rem;
}

button {
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    border: 1px dotted red;
    cursor: pointer;
}